.variant {
  background-color: var(--color-border);
  color: var(--color-backgraund);
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background-color: var(--color-font);
  }
}
