.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-backgraund);
  padding: 10px 20px;
  color: var(--color-font);

  &:hover {
    border: 2px solid var(--color-border);
    flex: 1;
  }

  &:hover .hidden {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: end;
    gap: 10px;
  }

  &:hover .user-id {
    background-color: var(--color-border);
    padding: 6px 12px;
    color: var(--color-backgraund);
    border-radius: 2rem;

    width: auto;
  }

  &:hover .visible {
    font-weight: 600;
  }
}

.box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.box-item {
  display: flex;
  justify-content: center;
}

.visible {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}
