#root {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(190, 190, 190);
}
